exportPattern("^[[:alpha:]]+")
export("%>%")
export(bcart)
export(lk_ratio_grow)
export(lk_ratio_prune)
export(p_rule)
export(predict_bcart)
export(ratio_grow)
export(ratio_prune)
export(structure_ratio_grow)
export(structure_ratio_prune)
export(transition_ratio_grow)
export(transition_ratio_prune)
importFrom(magrittr,"%>%")
